* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1e1e99;
}

body {
    margin: 1em auto;
}

a {
    color: var(--primary-color);
    display: block;
    width: 50vw;
    text-align: center;
    margin: 1em auto;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin: .5em 0;
}

.flex {
    margin-left: .5em;
    margin-bottom: .5em;
}

.flex div {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    border: 1px solid;
}

#relatorio {
    min-width: 90vw;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    border: 1px solid;
    margin-bottom: 1em;
}

.content div:nth-child(1) {
    background-color: rgb(228 224 224)
}

.content div:nth-child(1) p {
    display: flex;
    gap: 10px;
    padding-left: 0;
}

.bold {
    font-weight: bold;
}

.content div {
    border-bottom: 1px solid;
    padding: 5px;
}

.content p {
    display: grid;
    grid-template-columns: 52px 16.4em 36px 40px 25px 40px 110px 1fr;
    padding: 2px 0;
    padding-left: 7px;
}

.content p.desconto {
    display: grid;
    grid-template-columns: 56px 85px 96px 1fr;
}

.content p:nth-child(1):not(.content div:nth-child(1) p) {
    display: block;
    margin: -5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgba(233 224 224 / 60%);
    border-bottom: 1px solid;
}

.content span {
    margin-left: .5em;
}

.isactive:hover {
    background-color: #e2e2e2;
}

@media print {
    a {
        display: none;
    }
}

@page {
size: A4;
margin-top: 10mm;
margin-bottom: 10mm;
margin-left: -20mm;
margin-right: -20mm;
padding : -20mm;
}