* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1e1e99;
    --secondary-color: #161616;
}

a {
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    margin: 0 1em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    min-height: 94vh;
    margin: 1em 0;
}

thead {
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid #666;
    padding: 3px 10px;
}

td.desconto {
    display: flex;
    justify-content: space-between;
    border: none;
}

table,
#table {
    min-width: 600px;
    max-width: 900px;
}

table a,
table button {
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid;
    transition: .3s;
}

table a:hover,
table button:hover {
    background-color: white;
    color: var(--secondary-color);
}

#table {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

caption {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5em;
    margin: 1.5em 0 .5em;
}

thead {
    /* box-shadow: 1px -2px 8px #00000030; */
}

tbody {
    /* box-shadow: 1px 3px 8px #00000030; */
}

thead tr {
    background-color: rgb(233 224 224);
}

table tr:nth-child(even) {
    background-color: rgb(233 224 224);
}

form {
    margin: 1em 0;
}

form input[type='submit'] {
    display: block;
    margin-top: 1em;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

form h3 {
    font-size: 1.8em;
    border-left: 3px solid;
    padding-left: 5px;
    margin-bottom: .8em;
}

.bold {
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: .5em 0;

}

.form-control {
    width: 400px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.form-control label {
    font-weight: bold;
}

.form-control input {
    margin-bottom: 1em;
    padding: .2em;
    font-size: 1em;
}

.container-date input {
    font-size: 1.2em;
}

.container-date {
    font-weight: bold;
    font-size: 1em;
    margin: .5em 0;
}

.container-time {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    margin: 0.5em;
    margin-left: 0;
}

.container-time input {
    font-size: 1.2em;
}

.btn {
    font-size: 1.2em;
    background-color: white;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 0.3em 0.6em;
    cursor: pointer;
    border: 1px solid;
    /* border-radius: 5px; */
    transition: .5s;
}

.btn.del {
    background-color: white;
    color: red;
}

.btn.del:hover {
    background-color: red;
    color: white;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: white;
}

.modal {
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 800px;
    min-width: 70vw;
    background-color: white;
    z-index: 20;
    margin: auto;
    right: 15vw;
    padding: 0 0 1.5em 1em;
    overflow: hidden;
    max-height: 90%;
    padding: .8em;
}

.modal button {
    margin-top: .5em;
}

#modal-content {
    width: 100%;
}

.exit {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 2px 5px;
    text-align: end;
    margin-left: calc(100% - 21px);
    cursor: pointer;
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000a3;
    top: 0;
    z-index: 10;
}

.point_none {
    pointer-events: none !important;
}

.none {
    display: none !important;
}

.grid_value input[type='text'] {
    display: inline-block;
}

.grid_value form #Valor {
    width: 100px;
}

.grid_value p {
    font-size: .8em;
    margin-top: -10px;
}

.loop_info {
    max-height: 400px;
    overflow: auto;
    font-size: 1em;
}

h3 {
    color: var(--primary-color);
}

.loop_info h3 {
    text-transform: capitalize;
    color: var(--primary-color);
    border-left: 3px solid;
    font-size: 1.5em;
    padding-left: 5px;
    margin: .5em 0;
}

.loop_info button.btn {
    font-size: .8em;
    margin: .5em;
    margin-left: 0;
}

.loop_info>div {
    border-bottom: 1px solid #7a7a7a;
    width: 100%;
    margin-bottom: 5px;
}

#funcionarios {
    width: 600px;
    margin: auto;
}

.form-empty {
    font-weight: bold;
    font-size: 1.2em;
}

#funcsAll span {
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.6em;
}

#funcsAll td {
    text-align: center;
}

input[type='checkbox'] {
    margin-bottom: 0.5em;
    width: 17px;
    height: 17px;
}

@media print {
    .container-form {
        display: none;
    }

    tr>td>button {
        color: black;
        border: none;
    }

    a {
        display: none;
    }

    #funcsAll tr>td:nth-child(4),
    #funcsAll tr>th:nth-child(4) {
        display: none;
    }
}

@page {
    size: A4;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0mm;
}