* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1e1e99;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    margin: 0 1em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    margin: 1em 0;
}

thead {
    text-align: center;
    font-weight: bold;
}

table,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px 10px;
}

table,
#table {
    min-width: 600px;
    max-width: 800px;
}

table a,
table button {
    cursor: pointer;
    padding: 2px 3px;
    background-color: black;
    color: white;
    border: 1px solid;
}

table a:hover,
table button:hover {
    background-color: white;
    color: black;
}

#table {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table tbody tr:hover {
    background-color: #a0a0e7;
}

caption {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.8em 0;
}

thead {
    box-shadow: 1px -2px 8px #00000030;
}
tbody {
    box-shadow: 1px 3px 8px #00000030;
}
thead tr {
    background-color: rgb(233 224 224);
}

table tr:nth-child(even) {
    background-color: rgb(233 224 224);
}

form {
    margin: 1em 0;
}

form input[type='submit'] {
    display: block;
    margin-top: 1em;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

form h3 {
    font-size: 1.8em;
    border-left: 3px solid;
    padding-left: 5px;
    margin-bottom: .8em;
}

.bold {
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: .5em 0;

}

.form-control {
    width: 400px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.form-control label {
    font-weight: bold;
}

.form-control input {
    margin-bottom: 1em;
    padding: .2em;
    font-size: 1em;
}

.container-date input {
    font-size: 1.2em;
}

.container-date {
    font-weight: bold;
    font-size: 1em;
    margin: .5em 0;
}

.container-time {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    margin: 0.5em;
    margin-left: 0;
}

.container-time input {
    font-size: 1.2em;
}

.btn {
    font-size: 1.2em;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.3em 0.6em;
    cursor: pointer;
    border: 1px solid;
}

.btn:hover {
    background-color: black;
    color: white;
}

.modal {
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 800px;
    min-width: 70vw;
    background-color: white;
    z-index: 20;
    margin: auto;
    right: 15vw;
    padding: 0 0 1.5em 1em;
    overflow: hidden;
    max-height: 90%;
}

.modal button {
    margin-top: .5em;
}

#modal-content {
    width: 100%;
}

.exit {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 2px 5px;
    text-align: end;
    margin-left: calc(100% - 21px);
    cursor: pointer;
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000a3;
    top: 0;
    z-index: 10;
}

.point_none {
    pointer-events: none !important;
}

.none {
    display: none !important;
}

.grid_value input[type='text'] {
    display: inline-block;
}

.grid_value:nth-child(1) {
    width: 70%;
}

.loop_info {
    max-height: 400px;
    overflow: auto;
    font-size: 1em;
}

h3 {
    color: var(--primary-color);
}

.loop_info h3 {
    text-transform: capitalize;
    color: var(--primary-color);
    border-left: 3px solid;
    font-size: 1.5em;
    padding-left: 5px;
    margin: .5em 0;
}

.loop_info button.btn {
    font-size: .8em;
    margin: .5em;
    margin-left: 0;
}

.loop_info div {
    border-bottom: 1px solid;
    width: 100%;
}

.form-empty {
    font-weight: bold;
    font-size: 1.2em;
}

#funcsAll span {
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.6em;
}

#funcsAll td {
    text-align: center;
}

input[type='checkbox'] {
    margin-bottom: 0.5em;
    width: 17px;
    height: 17px;
}